---
layout: default
---

<div class="jumbotron">
  <div class="container-fluid">
    <h1>Curriculum Vitae voor Roel Deckers</h1>
  </div>
</div>

<div class="container-fluid">
<div class="col-sm-6">
<h2>Personalia</h2>
  <div class="card">
    <div class="card-content-1">
      <b><i class="fa fa-user" aria-hidden="true"></i>  Naam:</b> Roel Deckers
    </div>
  </div>
  <div class="card">
    <div class="card-content-1">
      <b><i class="fa fa-home" aria-hidden="true"></i>  Adres:</b> Bachstraat 41, 6438KL Oirsbeek
    </div>
  </div>
  <div class="card">
    <div class="card-content-1">
      <b><i class="fa fa-phone" aria-hidden="true"></i>  Telefoon:</b> +31649952369
    </div>
  </div>
  <div class="card">
    <div class="card-content-1">
      <b><i class="fa fa-envelope" aria-hidden="true"></i>  Email:</b> roeldeckers@gmail.com
    </div>
  </div>
   <div class="card">
    <div class="card-content-1">
      <b><i class="fa fa-graduation-cap" aria-hidden="true"></i>  Huidige studie:</b> BSc student Werktuigbouwkunde aan de TU/e
    </div>
  </div>   
</div>
<div class="col-sm-6">
<h2><b><img src="{{ site.baseurl }}/images/logos/knvb.png">  KNVB Nieuws</b></h2>
  {% for post in site.categories.knvb %}
  <div class="card">
    <div class="card-content-1">
      <h2 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.content | truncatewords: 50 }}</p>
      <p class="index"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}{% if post.author %} <i class="fa fa-user-o fa-fw" aria-hidden="true"></i> {{ post.author }}{% endif %}</p>
    </div>
    <div class="card-button">
      <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-cv">Lees meer</a>
    </div>
  </div>
  {% endfor %}
</div>
</div>
